.ui-loading {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  &.show-loading {
    display: flex;
  }

  &-wrapper {
    display: flex;
    background: #f0f0f0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
