<label class="ui-form-label" [for]="formControlName">
  <ng-content select="ui-form-label"></ng-content>
</label>

<div class="ui-form-input">
  <ng-content #inputContainer select="[uiFormInput]"></ng-content>
</div>
